<h2>List</h2>

<%=form_tag articles_path,method:"get" do%>
課程名稱<%=text_field_tag :title%>
</br>
授課老師<%=text_field_tag :content%>
</br>
上課時間<%=text_field_tag :time%>
<%=submit_tag "Search"%>
<%end%>

<% @articles.each do|article|%>
<%= link_to article.title, article_path(article) %>
<%= link_to "Edit", edit_article_path(article) %>
<%= link_to "Delete", article_path(article),method:"delete" %>
</br>
<%end%>